body {
	background-color:#F0F0D8;
	font-family: Georgia,Times,serif;
	font-size: 18px;
}

img {
	display:block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	text-align: center;
}

.base, .edition, .recherche, .fenetrage {
	display: inline-block;
	width: 20%;
    border: 1px solid black;
}