body {
	background-color:#F0F0D8;
	font-family: Georgia,Times,serif;
	font-size: 15px;
}

img {
	display:block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	text-align: center;
}

.block {
	display: inline-block;
	width: 24%;
    border: 1px solid black;
    background-color: #C03240;
	height: 100%;
	text-align: left;
}

.nav {
	text-align: center;
	width: 50%;
}