body {
	background-color:#F0F0D8;
	font-family: Georgia,Times,serif;
	font-size: 15px;
}

img {
	display:block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	text-align: center;
}

.block {
	display: inline;
	width: 24%;
    background-color: #C03240;
	height: 100%;
	text-align: center;
}

.nav {
	text-align: center;
	width: 50%;
}

a, a:visited {
    color: #000;
    font-size: 15px;
    text-decoration: none;
}
a:hover {text-decoration: underline;}

footer {
	text-align: center;
}

.navlist { 
    display: inline;
    list-style-type: none;
    text-align: center;
    padding-right: 20px;
    font-size: 30px;
    size: 30px;
}